.App {
  background-color: rgba(132, 234, 238, 0.39);
}
.main-color{
  color: deeppink;
}
.bg-main{
  background-color: deeppink;
}
.element-bg{
  background-color: #001D6E;
}
.color-dark{
  color: #001D6E;
}

